<!doctype HTML>
<html lang="de">
    <head>
        <title>Startseite von Pascal Ammeter</title>
        <!--Meta-Tags-->
        <meta charset="UTF-8">
        <meta name="author" content="Pascal Ammeter" />
        <meta name="description" content="Trainingsplan-Generator inkl. Logbuch" />
        <meta name="keywords" content="Training, Plan, Kraftsport, Generator, Logbuch, Trainingsplan, Erstellung" />
        <meta name="creationdate" content="2021-04-20" />
        <meta name="Erstellungsort" content="6210 Sursee" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--Einbinden von Stylesheet-->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    </head>
<body>
