<!doctype HTML>
<html lang="de">
    <head>
      <title>Startseite von Pascal Ammeter</title>
      <meta charset="UTF-8">
      <meta name="description"      content="Trainingsplan-Generator inkl. Logbuch" />
      <meta name="keywords"         content="Training, Plan, Kraftsport, Generator, Logbuch, Trainingsplan, Erstellung" />
      <meta name="author"           content="Pascal Ammeter" />
      <meta name="creationdate"     content="2021-04-20" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <script type="text/javascript" src="{{ url_for('static', filename='bmi.js') }}"></script>
    <form>
      <label for="groesse">Grösse:
        <input id="groesse" type="number" min="100" max="220" step="1" value="175"> cm</label>
      <label for="gewicht">Gewicht:
        <input id="gewicht" type="number" min="30" max="225" step="0.1" value="75"> kg</label>
      <label>BMI:
        <output id="bmi"></output>
      </label>
      <button type="button" id="berechnen">BMI berechnen</button> <!-- Kann später in der Übersicht verwendet werden, -->
    </form>


    <form method="POST">
        <input type="text" name="vorname" placeholder="Bitte geben Sie Ihren Vornamen ein">
        <button type="submit">Senden</button>
        <input type="text" name="nachname" placeholder="Bitte geben Sie Ihren Nachnamen ein">
        <button type="submit">Senden</button>
    </form>

    </body>
</html>