{% include "header.html" %}
{% include "navbar.html" %}

<p>Hallo {{ vorname, nachname }}</p>
<main role="main">
    {% if exercises_list %} <!--(1) Falls Daten vorhanden sind, wird folgendes ausgegeben:-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-group">
                    {% for data in exercises_list %}
                    <ul>
                        <label>
                            <input type="checkbox" name="{{ value }}">
                            {{ data }}
                        </label>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    {% else %}
        <!-- Falls es keine Übungen hat -->
        <div class="container">
            <div class="row">
                <p>No exercises to list. Try <a href="{{ url_for('trainingsplan') }}">Trainingsplan</a> first.<p>
            </div> <!-- row -->
        </div> <!-- container -->
    {% endif %}
</main>


{% include "footer.html" %}