{% include "header.html" %} <!-- Mittels Jinja2 wird das HTML "header" eingebunden -->
{% include "navbar.html" %} <!-- Mittels Jinja2 wird das HTML "navbar" eingebunden -->

<div>
    <div class="container py-4">
        <div class="container-fluid py-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Trainingsplan Ausgabe</h2>
                {% if dict_exercises %}
                <!-- Falls die Variable "dict_exercises" nicht False ist, also einen Inhalt hat -->
                <p>Hallo {{ vorname }} {{ nachname }}! <br>
                    Anhand deiner Eingaben wurde dein BMI berechnet und dein Trainingsplan erstellt. <br><br>
                    Der ideale BMI für dein Alter beträgt: {{ idealer_bmi }} <br>
                    Dein BMI beträgt: {{ user_bmi }} und bist somit in der Kategorie: {{ bmi_kategorie }}
                </p>
                {{ visualisierung | safe }} <!-- Visualisierung Plotly -->
                <br><br>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm table-light border-dark">
                        <thead>
                        <tr>
                            <th scope="col">Training</th>
                            <th scope="col">Übung</th>
                            <th scope="col">Muskel</th>
                            <th scope="col">Split</th>
                        </tr>
                        </thead> <!-- Spaltenbezeichnungen -->
                        <tbody>
                        <!--Quelle sort: https://jinja.palletsprojects.com/en/3.0.x/templates/#sort-->
                        {% for key, value in dict_exercises.items() | sort %}
                        <!-- Durch items aus der Liste "list_exercises" loopen -->
                        <tr>
                            <td>{{ value["training"] }}</td> <!-- Das zweite Value[Training] ausgeben -->
                            <td>{{ value["name"] }}</td> <!-- Das dritte Value[Übung] ausgeben -->
                            <td>{{ value["muskel"] }}</td> <!-- Das vierte Value[Muskel] ausgeben -->
                            <td>{{ value["split"] }}</td> <!-- Das fünfte Value[Split] ausgeben -->
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- table-responsive -->
                <a href="{{ url_for('logbuch') }}">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Weiter zum Logbuch</button>
                </a>
                {% else %} <!-- Falls es keine Übungen hat -->
                <p>Hier sollten die Übungen geladen werden. Falls nicht, fülle zuerst den Trainingsplan aus.</p>
                <a href="{{ url_for('trainingsplan') }}">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Trainingsplan erstellen</button>
                </a>
                {% endif %}
            </div> <!-- h100 -->
        </div> <!-- container -->
    </div> <!-- container -->
</div>

{% include "footer.html" %} <!-- Mittels Jinja2 wird das HTML "footer" eingebunden -->